/* General Changes */
h3 {
    font-size: 30px;
    font-weight: bold;
}

 body {
    font-family: 'Castoro Titling', cursive;
} 


html {
    scroll-behavior: smooth;
}

/* General Changes */
.navbar {
    /*border-bottom: mediumpurple solid 5px;*/
}

.navbar .navbar-brand-Bootstrap {
    /*color: purple!important;*/
    font-size: 24px;
}

.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    /*color:#0dcaf0 !important;*/
}
/* Navbar section */



/* header Section */

header {
    background: url(../images/image8.jpg);
    background-size: cover;
    height: 60vh;
}

h1 {
   color:  #f9ddbe;
   font-family: 'Castoro Titling', cursive;
}




btn btn-light {
    font-family: 'Castoro Titling', cursive;
}


/* Header Section */

/* features Section */
#features i {
    color: #f9ddbe;
    cursor: pointer;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Castoro Titling', cursive;
}

/* features Section */

/* Work Section */
#work {
    background: url(../images/InteriorCouch.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* -- Work Section */

h2 {
    font-family: 'Castoro Titling', cursive;
}



/* gallery section */

#gallery .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.imgOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.imageContainer:hover .imgOverlay {
    opacity: .5;
}

/* gallery section */


/* footer section */

#footer {
    background:  #fff6dc;
    width: 100%;
}

#footer .container {
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.social {
    margin: 20px 0;
}

.social a {
    color: black;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
}

.content h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

#footer .container .content {
    padding: 10px 20px;
    color: black;
}

.second {
    margin-right: 200px;
}


.email-btn {
    margin-right: 30px;
}

.send-btn {
    margin-right: 100px;
}

/* footer section */


/* Contact  sections */


.history_area {
    background-color: #fff6dc;
    height: 450px;
    margin-right: -50px;
    padding: 30px;
}

.history_image {
    margin-top: 50px;
    margin-left: -10px;
    z-index: 50;
    position: relative;
}

/* contact section */